body{
    font-family: Arial, Helvetica, sans-serif;

background-color: #b67e7e;
}
h5 {
color: blue;
font-family: verdana;
font-size: 300%;
padding: 30px;

}
h6  {
color: red;
font-family: courier;
font-size: 160%;

}
#p01 {
color: gold;

}

p.error {
color: green; 

}
        
      